<ul>
    <li><a 
        <% if (paginaAtiva === 'home') { %> class="active" <% } %> 
        href="/">Home</a></li>
    <li><a 
        <% if (paginaAtiva === 'operacao') { %> class="active" <% } %>
        href="/operacoes">Operações</a></li>
    <li><a href="#sobre">Sobre</a></li>
</ul>