<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <form action="/user/login" method="POST" class="container mt-5">
                <div class="mb-3">
                    <label for="inputUsername" class="form-label">username:</label>
                    <input type="text" class="form-control" id="inputUsername" name="username">
                </div>
                <div class="mb-3">
                    <label for="inputPassword" class="form-label">password:</label>
                    <input type="password" class="form-control" id="inputPassword" name="password">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col-3"></div>
    </div>
</div>