<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <form action="/user/salvar" method="POST" class="container mt-5">
                <div class="mb-3">
                    <label for="inputUsername" class="form-label">username:</label>
                    <input type="text" class="form-control" id="inputUsername" name="username">
                </div>
                <div class="mb-3">
                    <label for="inputPassword1" class="form-label">password:</label>
                    <input type="password" class="form-control" id="inputPassword1" name="password1">
                </div>
                <div class="mb-3">
                    <label for="inputPassword2" class="form-label">repita o password:</label>
                    <input type="password" class="form-control" id="inputPassword2" name="password2">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="inputEmail">email:</label>
                    <input type="email" class="form-control" id="inputEmail" name="email"
                        placeholder="fulano@email.com">
                </div>
                <div class="mb-3">
                    <label for="inputFirstName" class="form-label">primeiro nome:</label>
                    <input type="text" class="form-control" id="inputFirstName" name="nome">
                </div>
                <div class="mb-3">
                    <label for="inpuLastName" class="form-label">último nome:</label>
                    <input type="text" class="form-control" id="inputLastName" name="sobrenome">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col-3"></div>
    </div>
</div>