<div class="container-fluid">
    <div class="m-5">
        <h1 class="text-center">Bem-vindo ao iForum</h1>
        <p class="text-center">Este é um fórum de discussão onde você pode compartilhar suas ideias e interagir com outros usuários.</p>
    </div>
</div>